PORT=

MONGODB_USER=
MONGODB_PASSWORD=
MONGODB_URL=
MONGODB_DB=

NODE_ENV=

CORS_ORIGINS=http://localhost:3000
# Optional: only for Vercel preview deployments
# VERCEL_PROJECT_NAME=
# VERCEL_TEAM_SLUG=
